

.container {
    border: 1px solid black;
}

.container-fluid {
    border: 1px solid red;
}

.col-6, .col-3 {
    border: 2px dashed green;
}

.site-nav-bar {
    background-color: black;
    text-align: center;
}

.nav .nav-item a {
    color: white;
    font-size: 16px;
}

.nav {
    display: flex;
    justify-content: center;
}