body {
    background-color: #9D8099 !important;
}

.site-nav-bar {
    background-color: black;
}

.nav .nav-item a {
    color: white;
    font-size: 20px;
}

.nav .nav-footer-item a {
    color: white;
}

.footer-navbar {
    background-color: black;
    font-size: 25px;
}

.nav {
    display: flex;
    justify-content: center;
}

.paire_bite {
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: #291527;
    color: white;
}

.last-trade-titre {
    color: white;
    padding: 0px 0px;
    font-size: 22px;
}

.last-trade{
    background-color: #393D3A;
}

.wallet-resume-titre {
    color: white;
    padding: 0px 0px;
    font-size: 22px;
}

.info-heure-wallet{
    background-color: #291527;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.row {
    background-color: #9D8099;
}


.info-heure {
    background-color: #291527;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.coin-amound {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.titre-btc{
    display: flex;
    justify-content: center;
}

.titre-btc-sous {
    display: flex;
    justify-content: center;
}

.image-center {
    display: flex;
    margin: 125px 0px;
}

.row-coin-btc {
    background-color: #291527;
    color: white;
}

.h6 {
    color: white;
}